.container {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media screen and (min-width: 1920px) {
		width: 720px;
	}
}
.label {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.flex {
	border-top: 1px solid #ffffff10;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.grid {
	display: grid;
	grid-template-columns: 50px 1fr 50px;
}

.balance {
	margin: auto;
	width: max-content;
}
