.container {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media screen and (min-width: 1920px) {
		width: 720px;
	}
}

.header {
	display: flex;
	gap: 10px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 20px;
}

.content {
	margin-top: 20px;
}

.label {
	display: grid;
	grid-template-columns: 2fr 2fr;
	align-items: center;
	gap: 80px;

	button {
		justify-self: start;
	}
}

.input {
	overflow-x: scroll;
}

.response {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
