.label {
	color: #6d6d6d;
}
.table {
	margin-top: 30px;
}
.container {
	@media screen and (min-width: 1920px) {
		width: 1400px;
	}
}
.id {
	text-decoration: underline;
	cursor: pointer;
}

.error {
	background: #730d0d;
}

.flex {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	align-items: center;
	gap: 10px;
}
